@import url('https://fonts.googleapis.com/css?family=Anton|PT+Sans');

body{
	background:#2C2640!important;
}
h1{
  font-family: Anton !important;

  color:white !important;
  text-shadow: 0px 0px 10px #5C5084;
}
span{
  font-size: .5em;
  transform: rotate(120deg) !important;
}
h3{
  font-family: PT sans !important;
  color:white !important;
  font-weight: bold !important;
  text-shadow: 0px 0px 10px #5C5084;
}
.text-center{
	text-align:center;

}
.center{
	align-items:center;
}
ul#menu li {
    display:inline;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: auto;
    background-color: #EAD84D;
	  margin: 0 auto;
    max-width: 600px;
  	flex-direction: row;
  /* horizontal */
  	justify-content: flex-start;
  /* vertical */
  	align-items:flex-start;
  	flex-wrap: wrap;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

th.streamer{
  text-align: center !important;
  font-size: 1.5em;
  font-variant: small-caps;
  text-shadow: 0px 0px 1px #5C5084;

}
th.status{
  font-size: 1.5em;
  font-variant: small-caps;
 /* transition:text 0.4s */

}

td.streamer{
  text-align: center !important;
  font-size:;

  
}
td.status{
  font-size:;
  text-align: center !important;

}

table,tr,th,td{
 
  outline: red !important;
  border-collapse: collapse;
  width:100%;
  box-shadow: 0px 0px 1px #5C5084;

}

.btn{
  border-top-left-radius:0px !important;
  border-top-right-radius:0px !important;
  background-color:#8374C1 !important;
  border-color: #8374C1 !important;
  outline-color: #8374C1 !important;
  color: white !important;
  box-shadow: 0px 1px 2px #5C5084;
} 

.btn:hover{
  background-color:#6E60A3!important;
}

.content{
  font-size: .7em;
}

.hidden{
  display: hidden;
}

.offline{

}.online{
  background-color: #45C659;
}

.formattedImg{
  width: 32px;
  margin-left: 10px;
  float: left;
}

a img{
  position:absolute;
  margin-left:0;
/*  magic number, set transform to -td width somehow?*/
  transform: translateX(-60px);
}